<main>
    <section class="frontend">
        <h1>Projetos<br>Programação Front-end</h1>
        <p>Atualização em breve!<br>Irei adicionar outros projetos!</p>

        <div class="spinner-grow text-warning" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </section>

    <section class="front-section">
        <div>
            <!--<h2>Projetos</h2>-->
            <p>Aqui estão alguns dos meus projetos front-end:</p>
        </div>

        <div class="container">
            <app-projeto-ragnarok></app-projeto-ragnarok>
            <!-- 01 API REST, JAVA, SPRING BOOT, ANGULAR -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/apirestangularspringbootjava03.webp" class="card-img-top"
                    alt="Representando a API REST e o projeto Angular">
                <div class="card-body">
                    <p class="card-text">
                        <strong>App Gerenciador de Tarefas</strong>
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasAPIRESTAngular" aria-controls="offcanvasAPIRESTAngular">Mais
                        informações</button>
                </div>
            </div>
            <!-- 01 API REST, JAVA, SPRING BOOT, ANGULAR -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAPIRESTAngular"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Java, Spring Boot, Angular - API REST</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/apirestangularspringbootjava02.webp"
                            alt="Representando a API REST e o projeto Angular"></div>
                    <br>
                    <h3>ANGULAR</h3>
                    <p>
                        API REST Pronta!<br>
                        Projeto Angular: Em desenvolvimento.
                        <!--Este projeto destaca o desenvolvimento do frontend utilizando Angular, criando uma interface
                        moderna, responsiva e dinâmica para os usuários. A aplicação consome dados de uma API REST,
                        integrando o frontend com o backend para garantir uma experiência fluida e funcional.<br>

                        <br>Com Angular, implementei componentes reutilizáveis e serviços para gerenciar as requisições HTTP
                        à API. O foco foi oferecer uma interface intuitiva e bem projetada, permitindo que os usuários
                        interajam facilmente com as funcionalidades do sistema.<br>

                        <br>Este projeto é um ótimo exemplo das minhas habilidades em criar aplicações web interativas,
                        explorando o poder do Angular e sua integração com APIs REST.-->
                    </p>
                    <p>
                        Desenvolvido para praticar HTML5, CSS3, JS, BOOTSTRAP, JAVA, SPRING BOOT E OUTROS.
                    </p>
                    <div class="link-github">
                        <button><a href="https://github.com/PBPaschoal/Aplicativo-gerenciador-de-tarefas"
                                target="_blank">Link do Projeto no GitHub</a></button>
                    </div>
                </div>
            </div>
            <!-- Até Aqui -->
            <!-- 02 SORTEIO DE VAGAS - MANIPULADO -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/vagassoterio01.webp" class="card-img-top"
                    alt="Desenho de um condominio com as vagas destacadas">
                <div class="card-body">
                    <p class="card-text">
                        <strong>SORTEIO DE VAGAS</strong>
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasSorteioVagas" aria-controls="offcanvasSorteioVagas">Mais
                        informações</button>
                </div>
            </div>
            <!-- 02 SORTEIO DE VAGAS - MANIPULADO -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSorteioVagas"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">SORTEIO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/vagassoterio02.webp"
                            alt="Representando Website sorteio de vagas"></div>
                    <br>
                    <h3>Sorteio de Vagas em Condomínio Residencial</h3>
                    <p>
                        Este projeto foi desenvolvido para um cliente que solicitou um sistema simples e eficiente de
                        sorteio de vagas para um condomínio. O website permite que os usuários realizem sorteios de
                        apartamentos participantes de maneira interativa e fácil de usar.<br>

                        <br>A interface conta com uma página inicial que apresenta uma mensagem acolhedora e um botão
                        para
                        iniciar o sorteio, além de uma lista visível de apartamentos participantes. O sorteio é gerado
                        de forma 'aleatória', garantindo que os resultados sejam exibidos em uma ordem dinâmica.<br>

                        <br>A navegação é intuitiva, com um design responsivo que se adapta a diferentes tamanhos de
                        tela. O
                        site utiliza tecnologias como HTML, CSS e JavaScript para criar uma experiência de usuário
                        fluida e agradável.<br>

                        <br>O sistema foi projetado para ser de fácil manutenção e com código limpo, utilizando funções
                        JavaScript para garantir a aleatoriedade do processo, sempre com foco na experiência do usuário.
                        Além disso, o projeto conta com uma estrutura de layout leve e funcional, ideal para ser
                        utilizado em ambientes residenciais ou corporativos.
                    </p>
                    <p>
                        Desenvolvido para praticar HTML5, CSS3 E JS.
                        <br>Está é a terceira versão que crio para o cliente. Alterando alguns partes do código, textos
                        e imagens.
                    </p>
                    <div class="meus-links">
                        <div class="link-website">
                            <button><a href="projetos-websites/sorteio/index.html" target="_blank">Link
                                    Website</a></button>
                        </div>
                        <div class="link-github">
                            <button><a href="https://github.com/PBPaschoal/Projetos/tree/main/Sorteio"
                                    target="_blank">Link do Projeto no GitHub</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Até Aqui -->
            <!-- 03 TRANSPORTE -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/transporte01.webp" class="card-img-top" alt="NAVIO, AVIÃO, CAMINHÃO">
                <div class="card-body">
                    <p class="card-text">
                        <strong>TRANSPORTES</strong>
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasTransportes" aria-controls="offcanvasTransportes">Mais
                        informações</button>
                </div>
            </div>
            <!-- 03 TRANSPORTE -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasTransportes"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">TRANSPORTES</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/transporte02.webp" alt="NAVIO, AVIÃO, CAMINHÃO"></div>
                    <br>
                    <h3>Transporte e Logística Internacional</h3>
                    <p>
                        Este projeto é um website desenvolvido para uma empresa fictícia de transporte e logística, com
                        foco em soluções internacionais de transporte terrestre, aéreo, marítimo e de cargas especiais.
                        A plataforma foi construída utilizando HTML, CSS, JavaScript e frameworks como Bootstrap e
                        UIkit, para garantir um design responsivo e interativo.<br>

                        <br>O site apresenta um layout moderno e dinâmico, com seções informativas sobre os serviços da
                        empresa, incluindo transporte rodoviário, aéreo, marítimo e cabotagem, além de um carrossel de
                        imagens e cards detalhados sobre cada tipo de serviço oferecido. A navegação é otimizada para
                        dispositivos móveis, com um menu adaptável e animações suaves que aprimoram a experiência do
                        usuário.<br>

                        <br>Além disso, a página "Quem Somos" destaca a missão e valores da empresa, oferecendo aos
                        visitantes uma visão clara e profissional sobre o que a Exemplo pode oferecer no campo da
                        logística internacional.
                    </p>
                    <p>
                        Desenvolvido para praticar HTML5, CSS3, JS, BOOTSTRAP E OUTROS.
                    </p>
                    <div class="meus-links">
                        <div class="link-website">
                            <button><a href="projetos-websites/transporte/index.html" target="_blank">Link
                                    Website</a></button>
                        </div>
                        <div class="link-github">
                            <button><a
                                    href="https://github.com/PBPaschoal/Projetos/tree/main/Website%20Transporte/Vers%C3%A3o%2003"
                                    target="_blank">Link do Projeto no GitHub</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Até Aqui -->
            <!-- 04 CLONE NETFLIX -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/pbflix.webp" class="card-img-top" alt="LOGO NETFLIX + PB">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Estudos: NETFLIX CLONE</strong>
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasCloneNetflix" aria-controls="offcanvasCloneNetflix">Mais
                        informações</button>
                </div>
            </div>
            <!-- 04 CLONE NETFLIX -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasCloneNetflix"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">PBFLIX</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="logos/dio.webp" alt="LOGO DA DIO"></div>
                    <br>
                    <h3>Exercício DIO: Clone Interface da NETFLIX</h3>
                    <p>
                        Sobre a Interface:<br>
                        <br> - Responsivo;
                        <br> - Carrossel para passar e visualizar os filmes e séries;
                        <br> - Aparência elegante;
                        <br> - Titulo, textos, imagens, vídeo;
                        <br> - Links, estilos e script;
                        <br> - Botões (apenas o trailer tem atividade);
                        <br> - Outros.
                    </p>
                    <p>
                        Desenvolvido para praticar HTML5, CSS3, JS, BOOTSTRAP E OUTROS.
                    </p>
                    <div class="meus-links">
                        <div class="link-github">
                            <button><a
                                    href="https://github.com/PBPaschoal/HTML-CSS-JS/tree/main/Netflix-Clone#sobre-a-interface"
                                    target="_blank">Link do Projeto no GitHub</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Até Aqui -->
            <!-- 05 Veterinario -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/vet-gui01.webp" class="card-img-top" alt="Website Veterinario">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Website: VETERINARIO</strong>
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasVeterinario" aria-controls="offcanvasVeterinario">Mais
                        informações</button>
                </div>
            </div>
            <!-- 05 Veterinario -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasVeterinario"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">VETERINARIO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/vet-gui02.webp" alt="Imagem de um gato"></div>
                    <br>
                    <h3>Dr. Guilherme Vicentin</h3>
                    <p>
                        Este projeto é um website desenvolvido para praticar habilidades em HTML5, CSS3, JavaScript e
                        frameworks como Bootstrap. O site foi criado com foco em um design responsivo e atrativo,
                        representando um portfólio para o Dr. Guilherme Vicentin, um médico veterinário
                        ultrassonografista.
                    </p>
                    <p>
                        O website apresenta várias seções interativas, incluindo uma introdução com informações de
                        contato, um menu de navegação intuitivo, uma seção explicativa sobre ultrassonografia, uma
                        galeria de imagens e uma área 'Sobre Mim' que destaca os serviços e qualidades do profissional.
                        Cada elemento do site foi projetado para criar uma experiência amigável e profissional para os
                        visitantes.
                    </p>
                    <p>
                        Além de praticar conceitos básicos e avançados de desenvolvimento web, este projeto inclui
                        animações suaves, um layout adaptado para dispositivos móveis e um rodapé personalizado,
                        reforçando os detalhes do branding fictício.
                    </p>
                    <p>Desenvolvido para praticar HTML5, CSS3, JS E BOOTSTRAP.</p>
                    <div class="link-website">
                        <button>
                            <a href="projetos-websites/veterinario/index.html" target="_blank">Link Website</a>
                        </button>
                    </div>
                    <div class="meus-links">
                        <div class="link-github">
                            <button><a
                                    href="https://github.com/PBPaschoal/HTML-CSS-JS/tree/main/Website-Veterinario-DrGuilhermeVicentin"
                                    target="_blank">Link do Projeto no GitHub</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Até Aqui -->
        </div>
    </section>
</main>