<main>
    <section class="section-contatos">
        <div class="container">
            <div class="contatos">
                <a href="https://api.whatsapp.com/send/?phone=5521999211992&text&type=phone_number&app_absent=0">
                    <img src="contatos/telefone.png" alt="Telefone/WhatsApp">
                </a>
            </div>
            <div class="contatos">
                <a href="https://t.me/PBPaschoal">
                    <img src="contatos/telegram.png" alt="Telegram">
                </a>
            </div>
            <div class="contatos">
                <a href="mailto:pb.paschoal@gmail.com">
                    <img src="contatos/email.png" alt="Email">
                </a>
            </div>
            <div class="contatos">
                <a href="https://www.linkedin.com/in/pbpaschoal/">
                    <img src="contatos/linkedin.png" alt="Linkedin">
                </a>
            </div>
            <div class="contatos">
                <a href="https://github.com/PBPaschoal">
                    <img src="contatos/github.png" alt="GitHub">
                </a>
            </div>
        </div>
    </section>
</main>