<main>
    <section class="section-contatos">
        <div class="container">
            <div class="contatos">
                <a href="https://api.whatsapp.com/send/?phone=5521999211992&text&type=phone_number&app_absent=0" target="_blank">
                    <img src="contatos-logos/telefone.png" alt="Telefone / WhatsApp">
                </a>
            </div>
            <div class="contatos">
                <a href="https://t.me/PBPaschoal" target="_blank">
                    <img src="contatos-logos/telegram.png" alt="Telegram">
                </a>
            </div>
            <div class="contatos">
                <a href="mailto:pb.paschoal@gmail.com" target="_blank">
                    <img src="contatos-logos/email.png" alt="Email">
                </a>
            </div>
            <div class="contatos">
                <a href="https://www.linkedin.com/in/pbpaschoal/" target="_blank">
                    <img src="contatos-logos/linkedin.png" alt="Linkedin">
                </a>
            </div>
            <div class="contatos">
                <a href="https://github.com/PBPaschoal" target="_blank">
                    <img src="contatos-logos/github.png" alt="GitHub">
                </a>
            </div>
        </div>
    </section>
</main>