<!-- Card do Projeto Ragnarok -->
<div class="card" style="width: 18rem;">
    <img src="projetos/ragnarok-projeto01.webp" class="card-img-top" alt="Website Ragnarok Online">
    <div class="card-body">
        <p class="card-text"><strong>Website & Servidor - Ragnarok</strong></p>
        <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRagnarok"
            aria-controls="offcanvasRagnarok">
            Mais informações
        </button>
    </div>
</div>

<!-- Offcanvas com detalhes do Projeto -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRagnarok" aria-labelledby="offcanvasTitle">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTitle">Projeto Ragnarok Online</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div><img class="img-offcanvas" src="projetos/ragnarokprojeto2.webp" alt="Ragnarok Online MMORPG"></div>
        <br>
        <h3>Website - Servidor - Client</h3>
        <p>
            Website desenvolvido com Angular, HTML5, CSS3, Bootstrap, JavaScript e TypeScript.
            Integração com PHP e banco de dados via phpMyAdmin.<br>Integração Sistema de pagamentos com Mercado Pago.
        </p>
        <p>
            No backend, o projeto também envolve a configuração e manutenção de um servidor de Ragnarok Online
            utilizando o emulador <strong>rAthena</strong>, com criação e edição de NPCs, itens, scripts, imagens,
            sprites e otimizações.
        </p>
        <p>
            <strong>Stack Utilizada:</strong><br>
            Script NPC • Angular • TypeScript • HTML5 • CSS3 • Bootstrap • JavaScript • PHP • MySQL • rAthena • Mercado
            Pago API
        </p>
        <p>Conto mais detalhes em breve!</p>
        <div class="meus-links">
            <p>Falta pouco para divulgar o servidor ao público. Assim que ele for liberado, adicionarei o link aqui.</p>
            <p><strong>GitHub</strong><br>Por medida de segurança e em respeito ao meu esforço investido no trabalho, esses
                códigos não serão compartilhados.</p>
            <!--<div class="link-github">
        <button><a href="https://github.com/SEU-REPO" target="_blank">Link do Projeto no GitHub</a></button>
      </div>-->
        </div>
    </div>
</div>