<main>
    <section class="backend">
        <h1>Projetos<br>Programação Back-end</h1>
        <p>Atualização em breve!<br>Irei adicionar outros projetos!</p>

        <div class="spinner-grow text-warning" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </section>
    <section class="backend-section">
        <div>
            <!--<h2>Projetos</h2>-->
            <p>Aqui estão alguns dos meus projetos back-end!</p>
        </div>
        <div class="container">
            <!-- 01 API REST, JAVA, SPRING BOOT, ANGULAR -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/apirestangularspringbootjava01.webp" class="card-img-top"
                    alt="Representando a API REST e o projeto Angular">
                <div class="card-body">
                    <p class="card-text">
                        <strong>App Gerenciador de Tarefas</strong>
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasAPIRESTAngular" aria-controls="offcanvasAPIRESTAngular">Mais
                        informações</button>
                </div>
            </div>
            <!-- 01 API REST, JAVA, SPRING BOOT, ANGULAR -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAPIRESTAngular"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Java, Spring Boot, Angular - API REST</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/apirestangularspringbootjava02.webp"
                            alt="Representando a API REST e o projeto Angular"></div>
                    <br>
                    <h3>API REST</h3>
                    <p>
                        Este projeto destaca o desenvolvimento do backend usando Java com Spring Boot, aplicando o
                        padrão API REST para gerenciar e expor endpoints de forma eficiente. A API permite a comunicação
                        fluida entre o cliente e o servidor, oferecendo suporte a operações essenciais, como leitura,
                        criação e atualização de dados.<br>

                        <br>O backend utiliza o banco de dados em memória H2, facilitando testes e desenvolvimento local
                        sem
                        a necessidade de configurações complexas. Além disso, todas as funcionalidades foram
                        testadas com o Postman, garantindo desempenho.<br>
                    </p>
                    <div class="link-github">
                        <button><a href="https://github.com/PBPaschoal/Aplicativo-gerenciador-de-tarefas"
                                target="_blank">Link do Projeto no GitHub</a></button>
                    </div>
                </div>
            </div>
            <!-- Até Aqui -->
            <!-- 02 C# Sistema de Cadastro Web -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/projetoaspnet01.webp" class="card-img-top"
                    alt="Imagem representando o meu sistema de cadastro web em ASP.NET">
                <div class="card-body">
                    <p class="card-text">
                        <strong>C# - Sistema de Cadastro</strong>
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasCSharpCadastro" aria-controls="offcanvasCSharpCadastro">Mais
                        informações</button>
                </div>
            </div>
            <!-- 02 C# Sistema de Cadastro Web -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasCSharpCadastro"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">C#</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/projetoaspnet02.webp"
                            alt="Imagem representando o meu sistema de cadastro web em ASP.NET"></div>
                    <br>
                    <h3>Sistema de Cadastro ASP.NET</h3>
                    <p>
                        Este projeto é uma aplicação web desenvolvida com ASP.NET que permite aos usuários realizar o
                        cadastro, login e gerenciamento de informações. A interface é moderna e responsiva,
                        proporcionando uma experiência de usuário intuitiva e agradável.<br>
                        Esse projeto estou desenvolvendo com ajuda da IA ChatGPT.<br>
                    </p>
                    <p>
                        Status atual: Em desenvolvimento.<br>
                        <strong class="mensagem-link">Veja o meu README e projeto abaixo:</strong>
                    </p>
                    <div class="link-github">
                        <button><a href="https://github.com/PBPaschoal/Meu-CadastroWeb" target="_blank">Link do Projeto
                                no GitHub</a></button>
                    </div>
                </div>
            </div>
            <!-- Até Aqui -->
             <!-- 03 Java Jogo anos 70 -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/jogo-java01.webp" class="card-img-top" alt="Imagem representando o meu jogo">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Java - Jogo anos 70</strong>
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasJavaJogo" aria-controls="offcanvasJavaJogo">Mais informações</button>
                </div>
            </div>
            <!-- 03 03 Java Jogo anos 70 -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasJavaJogo"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Java</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/jogo-java02.webp"
                            alt="Imagem representando o meu jogo"></div>
                    <br>
                    <h3>Jogo estilo anos 70!</h3>
                    <p>
                        Estou desenvolvendo esse jogo em Java, estilo anos 70. Onde é representado por uma historia e
                        algumas interações com o usuário.<br>
                        O foco principal é a pratica da Programação Orientada a Objetos, onde eu estou desenvolvendo
                        sozinho (e sem ajuda da IA), praticando Encapsulamento, Polimorfismo, Herança, Objetos,
                        Atributos, Classes, Pacotes etc.<br>
                    </p>
                    <p>
                        Status atual: Em desenvolvimento.<br>
                        <strong class="mensagem-link">Veja o meu README e projeto abaixo:</strong>
                    </p>
                    <div class="link-github">
                        <button><a href="https://github.com/PBPaschoal/Jogo-anos-70" target="_blank">Link do Projeto no
                                GitHub</a></button>
                    </div>
                </div>
            </div>
            <!-- Até Aqui -->
            <!-- 03 Java Simulador de Emprestimo Consignado (com POO) --
            <div class="card" style="width: 18rem;">
                <img src="projetos/simulador-emprestimo01.webp" class="card-img-top"
                    alt="Imagem representando o meu sistema de simulação de emprestimo consignado">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Java - Emprestimo Consignado</strong>
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasJavaEmprestimoPOO" aria-controls="offcanvasJavaEmprestimoPOO">Mais
                        informações</button>
                </div>
            </div>
            -- 03 Java Simulador de Emprestimo Consignado (com POO) --
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasJavaEmprestimoPOO"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Java</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/simulador-emprestimo02.webp"
                            alt="Imagem representando o meu sistema de simulação de emprestimo consignado"></div>
                    <br>
                    <h3>Simulador Emprestimo Consignado - Programação Orientada a Objetos</h3>
                    <p>
                        Este é um projeto desenvolvido para praticar os conceitos de Programação Orientada a Objetos
                        (POO).<br>
                        <br>Criado por mim em janeiro de 2024, este sistema representa a sexta versão de um projeto de
                        empréstimo consignado que já desenvolvi anteriormente em Java e C#, mas sem utilizar POO.
                        <br>Nesta versão, implementei POO para tornar o código mais modular e organizado. O sistema é
                        simples, mas planejo expandi-lo futuramente, adicionando novas funcionalidades e uma interface
                        gráfica para melhorar a experiência do usuário.
                    </p>
                    <div class="link-github">
                        <button><a
                                href="https://github.com/PBPaschoal/Java/tree/main/Projetos/Meus%20Projetos/Simulador%20Emprestimo%20Consignado"
                                target="_blank">Link do Projeto
                                no GitHub</a></button>
                    </div>
                </div>
            </div>-->
        </div>
    </section>
</main>