<main>
    <section class="experiencia-informativo">
        <h1>Experiências</h1>
        <!--<p>Atualização em breve!</p>-->

        <!--<div class="spinner-grow text-warning" style="width: 2rem; height: 2rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>-->
        <!--<div>
            <a href="caminho/para/seu-arquivo.pdf" download class="download-btn">Download Currículos</a>
        </div>-->
    </section>

    <section class="experiencias">
        <div>
            <h2>Tecnologia da Informação:</h2>
        </div>
        <div class="container">
            <!-- 01 CLUBE NAVAL -->
            <div class="card" style="width: 15rem;">
                <img src="projetos/clube-naval01.webp" class="card-img-top" alt="Logo da empresa CLUBE NAVAL">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Analista de TI - N1/N2</strong><br>
                        📅 Set/2025 - Atualmente
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasCN" aria-controls="offcanvasCN">Mais
                        informações</button>
                </div>
            </div>
            <!-- 01 CLUBE NAVAL -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasCN" aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Analista de TI</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/clube-naval02.webp" alt="Logo da empresa CLUBE NAVAL">
                    </div>
                    <br>
                    <h3>Empresa: Clube Naval</h3>
                    <p><span class="periodo">📅 Setembro de 2022 - até o presente momento 📍 Rio de Janeiro</span></p>
                    <p>
                        <strong>Clube Naval - Suporte N1 e N2</strong><br>
                        Atuo na área de tecnologia da informação, prestando suporte técnico aos usuários e garantindo o
                        bom funcionamento da infraestrutura de TI.
                        Meu trabalho contribui diretamente para a continuidade das atividades administrativas e
                        operacionais do Clube Naval.

                        <br><strong>Principais atividades:</strong><br>
                    </p>
                    <ul>
                        <li>Atendimento a chamados técnicos, com suporte remoto e presencial.</li>
                        <li>Montagem, manutenção e limpeza de computadores e periféricos.</li>
                        <li>Backup, formatação, instalação de sistemas operacionais e softwares.</li>
                        <li>Configuração de redes, computadores e pontos de acesso (APs).</li>
                        <li>Atualização e controle do inventário de equipamentos de TI.</li>
                        <li>Suporte a eventos: montagem de equipamentos (telão, projetor, computadores), chamadas de
                            vídeo, compartilhamento de tela e operação de apresentações.</li>
                        <li>Execução de tarefas diversas relacionadas à infraestrutura de tecnologia.</li>
                    </ul>
                    <p>Essa atuação é fundamental para manter a estabilidade e eficiência dos recursos tecnológicos do Clube Naval.</p>
                </div>
            </div>
            <!-- Até aqui -->
            <!-- 02 WEDER TECNOLOGIA -->
            <div class="card" style="width: 15rem;">
                <img src="projetos/weder.webp" class="card-img-top" alt="Logo da empresa WEDER Tecnologia">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Téc. de Sup. Computacional Jr</strong><br>
                        📅 Nov/2022 - até Set/2025
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWeder" aria-controls="offcanvasWeder">Mais
                        informações</button>
                </div>
            </div>
            <!-- 02 WEDER TECNOLOGIA -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWeder" aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Técnico de Suporte Computacional Júnior - PJ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/weder.webp" alt="Logo da empresa WEDER Tecnologia">
                    </div>
                    <br>
                    <h3>Empresa: WEDER TECNOLOGIA</h3>
                    <p><span class="periodo">📅 Novembro de 2022 - até o presente momento 📍 Rio de Janeiro</span></p>
                    <p>
                        <strong>Colégio Companhia de Maria - Suporte N1 e N2</strong><br>
                        Atuo como responsável pela infraestrutura de TI da escola, garantindo que tudo funcione com
                        eficiência para alunos, professores e colaboradores.<br>

                        <br><strong>Principais atividades:</strong><br>
                    </p>
                    <ul>
                        <li>Gerenciamento de redes, usuários, impressoras, projetores, câmeras e ramais.</li>
                        <li>Manutenção preventiva e corretiva de computadores, notebooks e dispositivos móveis.</li>
                        <li>Suporte técnico a sistemas, internet, softwares e dúvidas dos usuários.</li>
                        <li>Operação de equipamentos de som e projeção em eventos escolares.</li>
                        <li>Organização do ambiente de TI, documentação técnica e suporte em campo.</li>
                    </ul>
                    <p>Essa atuação tem sido essencial para a continuidade das atividades pedagógicas e administrativas
                        da instituição.</p>
                </div>
            </div>
            <!-- Até aqui -->
            <!-- 03 PASCHWARE TECNOLOGIA & SERVIÇOS -->
            <div class="card" style="width: 15rem;">
                <img src="projetos/paschware.webp" class="card-img-top" alt="Logo da Paschware">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Téc. Info | Desenvolvedor</strong><br>
                        Freelancer
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasPaschware" aria-controls="offcanvasPaschware">Mais
                        informações</button>
                </div>
            </div>
            <!-- 03 PASCHWARE TECNOLOGIA & SERVIÇOS -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasPaschware"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Freelancer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/paschware.webp" alt="Logo da Paschware"></div>
                    <br>
                    <h3>Empresa: PASCHWARE</h3>
                    <p><span class="periodo">📅 Agosto de 2022 - até o presente momento 📍 Rio de Janeiro</span></p>
                    <p>
                        Atendo clientes e empresas de forma presencial e remota, oferecendo soluções sob medida em
                        diversas áreas da tecnologia e design.<br>
                        <br><strong>Serviços prestados:</strong>
                    </p>
                    <ul>
                        <li><strong>Desenvolvimento de websites:</strong>
                            <br>Criação e manutenção de sites modernos e responsivos usando HTML5, CSS3, Angular,
                            JavaScript, Bootstrap, entre outros.
                        </li>
                        <li>
                            <strong>Suporte técnico (N1 e N2):</strong>
                            <br>Manutenção de computadores, configuração de redes, instalação de softwares e atendimento
                            técnico personalizado.
                        </li>
                        <li>
                            <strong>Design gráfico:</strong>
                            <br>Criação de logotipos, banners, cartões e materiais visuais para redes sociais e marcas.
                        </li>
                        <li>
                            <strong>Atendimento administrativo em empréstimos consignados:</strong>
                            <br>Organização de processos, documentos e suporte geral a empresas do setor.
                            <br><strong>Encerrado oficialmente em 2023</strong>, porém continuo prestando atendimento
                            pontual a empresas parceiras <strong><em>mediante acordo prévio</em></strong>.
                        </li>
                        <li>
                            <strong>Outros projetos personalizados:</strong>
                            <br>Executo demandas pontuais conforme as necessidades dos clientes.
                        </li>
                    </ul>
                    <p>Além disso, desenvolvo projetos e estudo constantemente. Você pode acompanhar alguns deles no meu
                        GitHub.</p>
                </div>
            </div>
            <!-- Até aqui -->
        </div>
        <div class="adm">
            <br><h2>Administrativo:</h2>
        </div>
        <div class="container">
            <!-- 04 ROCHA E LUCENA -->
            <div class="card" style="width: 14rem;">
                <img src="projetos/rochaelucena.webp" class="card-img-top" alt="Logo da empresa Rocha e Lucena">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Assistente Administrativo</strong><br>
                        📅 Fev/2021 até Jul/2022
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRochaELucena" aria-controls="offcanvasRochaELucena">Mais
                        informações</button>
                </div>
            </div>
            <!-- 04 ROCHA E LUCENA -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRochaELucena"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Assistente Administrativo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/rochaelucena.webp"
                            alt="Logo da empresa Rocha e Lucena">
                    </div>
                    <br>
                    <h3>Empresa: ROCHA E LUCENA</h3>
                    <p><span class="periodo">📅 Fev de 2021 até Jul de 2022 📍 Rio de Janeiro</span></p>
                    <p>
                        <strong>Operacional Empréstimo Consignado:</strong><br>
                        Digitador e analista de propostas nos sistemas dos bancos.<br>
                        Digitador e analista de propostas nos sistemas dos bancos.<br>
                        Contato iminente aos suportes e gerentes dos bancos.<br>
                        Acompanhamento de margem e regularização de pendências.<br>
                        Edição de vídeos (com Phostoshop e Premiere).<br>
                        Decidi seguir novos desafios profissionais para expandir minhas habilidades.
                    </p>
                </div>
            </div>
            <!-- Até aqui -->
            <!-- 05 VIARIO CONSTRUSHOW -->
            <div class="card" style="width: 14rem;">
                <img src="projetos/viarioconstrushow.webp" class="card-img-top"
                    alt="Logo da empresa VIARIO CONSTRUSHOW">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Assistente Administrativo</strong><br>
                        📅 Set/2020 até Nov/2020
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasViaRioConstruShow" aria-controls="offcanvasViaRioConstruShow">Mais
                        informações</button>
                </div>
            </div>
            <!-- 05 VIARIO CONSTRUSHOW -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasViaRioConstruShow"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Assistente Administrativo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/viarioconstrushow.webp"
                            alt="Logo da empresa VIARIO CONSTRUSHOW">
                    </div>
                    <br>
                    <h3>Empresa: Via Rio Construshow</h3>
                    <p><span class="periodo">📅 Set de 2020 até Nov de 2020 📍 Rio de Janeiro</span></p>
                    <p>
                        <strong>Entrada de NF-e, produtos e alterações de preços no sistema da empresa.</strong><br>
                        Suporte aos setores de venda, entrega e financeiro. Controle de estoque.<br>
                    </p>
                </div>
            </div>
            <!-- Até aqui -->
            <!-- 06 CIA DO CRÉDITO -->
            <div class="card" style="width: 14rem;">
                <img src="projetos/ciadocredito.webp" class="card-img-top" alt="Logo da empresa CIA DO CREDITO">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Auxiliar Administrativo</strong><br>
                        📅 Mai/2017 até Ago/2020
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasCiaDoCredito" aria-controls="offcanvasCiaDoCredito">Mais
                        informações</button>
                </div>
            </div>
            <!-- 06 CIA DO CRÉDITO -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasCiaDoCredito"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Auxiliar Administrativo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/ciadocredito.webp"
                            alt="Logo da empresa CIA DO CREDITO">
                    </div>
                    <br>
                    <h3>Empresa: Cia do Crédito</h3>
                    <p><span class="periodo">📅 Mai de 2017 até Ago de 2020 📍 Rio de Janeiro</span></p>
                    <p>
                        <strong>Atendimento ao corretor e domínio em sistemas de gestão de empréstimo
                            consignado.</strong><br>
                        Parceiros designados a serviço de empréstimo com servidores públicos, militares e
                        aposentados.<br>
                        Trabalho em equipe com diversos setores, de forma produtiva e com a participação de todos, tendo
                        resultado e satisfação nos desafios prestados.<br>
                        Suporte de T.I na manutenção, restauração, montagem e configurações dos sistemas.<br>
                        Em busca de novos aprendizados e crescimento profissional, optei por explorar novas
                        oportunidades.
                    </p>
                </div>
            </div>
            <!-- Até aqui -->
            <!-- 07 GRUPO RIO -->
            <div class="card" style="width: 14rem;">
                <img src="projetos/gruporio.webp" class="card-img-top" alt="Logo da empresa GRUPO RIO (MRT CRED)">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Auxiliar Administrativo</strong><br>
                        📅 Ago/2013 até Ago/2016
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasGrupoRio" aria-controls="offcanvasGrupoRio">Mais
                        informações</button>
                </div>
            </div>
            <!-- 07 GRUPO RIO -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasGrupoRio"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Auxiliar Administrativo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/gruporio.webp"
                            alt="Logo da empresa GRUPO RIO (MRT CRED)">
                    </div>
                    <br>
                    <h3>Empresa: MRT Cred Correspondente Bancário (Atual GrupoRio)</h3>
                    <p><span class="periodo">📅 Ago de 2013 até Ago de 2016 📍 Rio de Janeiro</span></p>
                    <p>
                        <strong>Supervisor de atendimento, responsável por uma equipe de 5 atendentes (3 telefonistas e
                            2 atendentes de balcão).</strong><br>
                        Analista documental;<br>
                        Suporte aos corretores e demais setores da empresa;<br>
                        Protocolo de formulários e responsável pelas pendências nos contratos físicos e sistêmicos;<br>
                        Assistência em design gráfico.
                    </p>
                </div>
            </div>
            <!-- Até aqui -->
            <!-- 08 LATINCRED -->
            <div class="card" style="width: 14rem;">
                <img src="projetos/latincred.webp" class="card-img-top" alt="Logo da empresa GRUPO RIO (MRT CRED)">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Operador de Telemarketing</strong><br>
                        📅 Mai/2013 até Jul/2013
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasLatinCred" aria-controls="offcanvasLatinCred">Mais
                        informações</button>
                </div>
            </div>
            <!-- 08 LATINCRED -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLatinCred"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Operador de Telemarketing</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/latincred.webp"
                            alt="Logo da empresa GRUPO RIO (MRT CRED)">
                    </div>
                    <br>
                    <h3>Empresa: LatinCred Promotora de Serviços</h3>
                    <p><span class="periodo">📅 Mai de 2013 até Jul de 2013 📍 Rio de Janeiro</span></p>
                    <p>
                        <strong>Operador de Telemarketing</strong><br>
                        Cobrança de tarifas em lojas Nalin - Entrar em contato com clientes e negociar dívidas.<br>
                        Venda de empréstimo consignado - Entrar em contato com clientes para refinanciamento
                        ou outras operações disponíveis.<br>
                    </p>
                </div>
            </div>
            <!-- Até aqui -->
        </div>
    </section>
</main>