<main>
    <section class="experiencia-informativo">
        <h1>Experiências!</h1>
        <p>Atualização em breve!</p>

        <div class="spinner-grow text-warning" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <!--<div>
            <a href="caminho/para/seu-arquivo.pdf" download class="download-btn">Download Currículos</a>
        </div>-->
    </section>

    <section class="experiencias">
        <div>
            <h2>Área da TI:</h2>
        </div>
        <div class="container">
            <!-- 01 WEDER TECNOLOGIA -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/weder.webp" class="card-img-top" alt="Logo da empresa WEDER Tecnologia">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Técnico de Suporte Computacional Júnior</strong><br>
                        Emprego atual
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWeder" aria-controls="offcanvasWeder">Mais
                        informações</button>
                </div>
            </div>
            <!-- 01 WEDER TECNOLOGIA -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWeder" aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Técnico de Suporte Computacional Júnior - PJ</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/weder.webp" alt="Logo da empresa WEDER Tecnologia">
                    </div>
                    <br>
                    <h3>Empresa: WEDER TECNOLOGIA</h3>
                    <p><span class="periodo">Novembro de 2022 - até o presente momento | Presencial - RJ</span></p>
                    <p>
                        <strong>Colégio Companhia de Maria</strong><br>
                        Atuando como responsável pela infraestrutura de tecnologia da informação, fornecendo suporte
                        técnico e garantindo a operação eficiente dos equipamentos e sistemas utilizados por professores
                        e colaboradores.<br>

                        <br><strong>Principais responsabilidades e atividades:</strong><br>

                        <strong>- Gestão de infraestrutura:</strong> Criação e gerenciamento de usuários no domínio do
                        servidor,
                        configuração de redes, câmeras de segurança, ramais telefônicos, impressoras e projetores.<br>
                        <strong>- Manutenção de equipamentos:</strong> Montagem, manutenção, limpeza e configuração de
                        computadores,
                        notebooks, tablets e celulares, garantindo pleno funcionamento.<br>
                        <strong>- Suporte técnico:</strong> Solução de problemas relacionados à conectividade de
                        internet, sistemas
                        operacionais e aplicativos, além de oferecer treinamentos e orientações aos usuários quando
                        necessário.<br>
                        <strong>- Eventos e multimídia:</strong> Configuração e operação de equipamentos de som e
                        projeção para eventos,
                        atuando como responsável pelo suporte audiovisual durante apresentações.<br>
                        <strong>- Documentação e organização:</strong> Elaboração de relatórios técnicos, organização do
                        ambiente de TI e
                        cabeamento eventual.<br>
                        <br>Por meio de minha atuação, contribuo diretamente para a continuidade das operações
                        administrativas e pedagógicas, além de garantir que a infraestrutura tecnológica atenda às
                        necessidades da instituição de ensino.
                    </p>
                </div>
            </div>
            <!-- Até aqui -->
            <!-- 02 PASCHWARE TECNOLOGIA & SERVIÇOS -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/paschware.webp" class="card-img-top" alt="Logo da Paschware">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Técnico de Informática | Desenvolvedor</strong><br>
                        Freelancer
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasPaschware" aria-controls="offcanvasPaschware">Mais
                        informações</button>
                </div>
            </div>
            <!-- 02 PASCHWARE TECNOLOGIA & SERVIÇOS -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasPaschware"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Freelancer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/paschware.webp" alt="Logo da Paschware"></div>
                    <br>
                    <h3>Empresa: PASCHWARE</h3>
                    <p><span class="periodo">Agosto de 2022 - até o presente momento | RJ</span></p>
                    <p>
                        Venho atuando como freelancer em diferentes áreas, atendendo às
                        necessidades específicas de clientes e empresas. Entre os serviços prestados, destaco:<br>

                        <br><strong>-Desenvolvimento de Websites:</strong> Criação e manutenção de sites utilizando
                        tecnologias como HTML5,
                        CSS3, Angular, JavaScript, Bootstrap e UIkit, com foco em design responsivo e experiência do
                        usuário.<br>
                        <strong>- Técnico de Informática:</strong> Montagem e manutenção de computadores, configuração
                        de redes e suporte
                        técnico a hardware e software.<br>
                        <strong>- Design Gráfico:</strong> Criação de materiais visuais, como logotipos, banners,
                        cartões de visita e artes
                        digitais, adaptados às necessidades dos clientes.<br>
                        <strong>- Serviços Administrativos na Área de Empréstimos Consignados:</strong> Atendimento a
                        empresas, oferecendo
                        suporte administrativo, organização de documentos e gestão de processos relacionados a
                        empréstimos.<br>
                        <strong>- Outros Freelances Diversos:</strong> Execução de trabalhos pontuais em diferentes
                        áreas, demonstrando
                        adaptabilidade e disposição para aprender e atender às demandas específicas dos clientes.
                    </p>
                </div>
            </div>
            <!-- Até aqui -->
        </div>
        <div class="adm">
            <h2>Administrativo:</h2>
        </div>
        <div class="container">
            <!-- 03 ROCHA E LUCENA -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/rochaelucena.webp" class="card-img-top" alt="Logo da empresa Rocha e Lucena">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Assistente Administrativo</strong><br>
                        Fev de 2021 até Jul de 2022
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRochaELucena" aria-controls="offcanvasRochaELucena">Mais
                        informações</button>
                </div>
            </div>
            <!-- 03 ROCHA E LUCENA -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasRochaELucena"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Assistente Administrativo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/rochaelucena.webp"
                            alt="Logo da empresa Rocha e Lucena">
                    </div>
                    <br>
                    <h3>Empresa: ROCHA E LUCENA</h3>
                    <p><span class="periodo">Fev de 2021 até Jul de 2022 | Presencial - RJ</span></p>
                    <p>
                        <strong>Operacional Empréstimo Consignado:</strong><br>
                        Digitador e analista de propostas nos sistemas dos bancos.<br>
                        Digitador e analista de propostas nos sistemas dos bancos.<br>
                        Contato iminente aos suportes e gerentes dos bancos.<br>
                        Acompanhamento de margem e regularização de pendências.<br>
                        Edição de vídeos (com Phostoshop e Premiere).
                    </p>
                </div>
            </div>
            <!-- Até aqui -->
            <!-- 04 VIARIO CONSTRUSHOW -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/viarioconstrushow.webp" class="card-img-top"
                    alt="Logo da empresa VIARIO CONSTRUSHOW">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Assistente Administrativo</strong><br>
                        Set de 2020 até Nov de 2020 | Rio de Janeiro
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasViaRioConstruShow" aria-controls="offcanvasViaRioConstruShow">Mais
                        informações</button>
                </div>
            </div>
            <!-- 04 VIARIO CONSTRUSHOW -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasViaRioConstruShow"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Assistente Administrativo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/viarioconstrushow.webp"
                            alt="Logo da empresa VIARIO CONSTRUSHOW">
                    </div>
                    <br>
                    <h3>Empresa: Via Rio Construshow</h3>
                    <p><span class="periodo">Set de 2020 até Nov de 2020 | Rio de Janeiro</span></p>
                    <p>
                        <strong>Entrada de NF-e, produtos e alterações de preços no sistema da empresa.</strong><br>
                        Suporte aos setores de venda, entrega e financeiro. Controle de estoque.<br>
                    </p>
                </div>
            </div>
            <!-- Até aqui -->
            <!-- 05 CIA DO CRÉDITO -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/ciadocredito.webp" class="card-img-top" alt="Logo da empresa CIA DO CREDITO">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Auxiliar Administrativo</strong><br>
                        Mai de 2017 até Ago de 2020 | Rio de Janeiro
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasCiaDoCredito" aria-controls="offcanvasCiaDoCredito">Mais
                        informações</button>
                </div>
            </div>
            <!-- 05 CIA DO CRÉDITO -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasCiaDoCredito"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Auxiliar Administrativo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/ciadocredito.webp"
                            alt="Logo da empresa CIA DO CREDITO">
                    </div>
                    <br>
                    <h3>Empresa: Cia do Crédito</h3>
                    <p><span class="periodo">Mai de 2017 até Ago de 2020 | Rio de Janeiro</span></p>
                    <p>
                        <strong>Atendimento ao corretor e domínio em sistemas de gestão de empréstimo
                            consignado.</strong><br>
                        Parceiros designados a serviço de empréstimo com servidores públicos, militares e
                        aposentados.<br>
                        Trabalho em equipe com diversos setores, de forma produtiva e com a participação de todos, tendo
                        resultado e satisfação nos desafios prestados.<br>
                        Suporte de T.I na manutenção, restauração, montagem e configurações dos sistemas.
                    </p>
                </div>
            </div>
            <!-- Até aqui -->
            <!-- 06 GRUPO RIO -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/gruporio.webp" class="card-img-top" alt="Logo da empresa GRUPO RIO (MRT CRED)">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Auxiliar Administrativo</strong><br>
                        Ago de 2013 até Ago de 2016 | Rio de Janeiro
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasGrupoRio" aria-controls="offcanvasGrupoRio">Mais
                        informações</button>
                </div>
            </div>
            <!-- 06 GRUPO RIO -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasGrupoRio"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Auxiliar Administrativo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/gruporio.webp"
                            alt="Logo da empresa GRUPO RIO (MRT CRED)">
                    </div>
                    <br>
                    <h3>Empresa: MRT Cred Correspondente Bancário (Atual GrupoRio)</h3>
                    <p><span class="periodo">Ago de 2013 até Ago de 2016 | Rio de Janeiro</span></p>
                    <p>
                        <strong>Supervisor de atendimento, responsável por uma equipe de 5 atendentes (3 telefonistas e
                            2 atendentes de balcão).</strong><br>
                        Analista documental;<br>
                        Suporte aos corretores e demais setores da empresa;<br>
                        Protocolo de formulários e responsável pelas pendências nos contratos físicos e sistêmicos;<br>
                        Assistência em design gráfico.
                    </p>
                </div>
            </div>
            <!-- Até aqui -->
            <!-- 07 LATINCRED -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/latincred.webp" class="card-img-top" alt="Logo da empresa GRUPO RIO (MRT CRED)">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Operador de Telemarketing</strong><br>
                        Mai de 2013 até Jul de 2013 | Rio de Janeiro
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasLatinCred" aria-controls="offcanvasLatinCred">Mais
                        informações</button>
                </div>
            </div>
            <!-- 07 LATINCRED -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLatinCred"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Operador de Telemarketing</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/latincred.webp"
                            alt="Logo da empresa GRUPO RIO (MRT CRED)">
                    </div>
                    <br>
                    <h3>Empresa: LatinCred Promotora de Serviços</h3>
                    <p><span class="periodo">Mai de 2013 até Jul de 2013 | Rio de Janeiro</span></p>
                    <p>
                        <strong>Operador de Telemarketing</strong><br>
                        Cobrança de tarifas em lojas Nalin - Entrar em contato com clientes e negociar dívidas.<br>
                        Venda de empréstimo consignado - Entrar em contato com clientes para refinanciamento
                        ou outras operações disponíveis.<br>
                    </p>
                </div>
            </div>
            <!-- Até aqui -->
        </div>
    </section>
</main>