<section class="meus-cursos">
    <h1>CURSOS!</h1>
    <p>Um resumo sobre os cursos que já concluí, revisando e em andamento.</p>
    <h2>EM ANDAMENTO:</h2>
    <div class="container">
        <!-- Java -->
        <div class="cursos">
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling2" aria-controls="offcanvasScrolling2">Java POO</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling2" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Revisando curso:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h3>Udemy</h3>
                    <p><strong>Java POO</strong></p>
                    <p>
                        <strong>Professor:</strong> Nelio Alves
                        <br>Horas: 54,5
                    </p>
                    <p>
                        <strong>Curso mais didático e completo de Java e OO, UML, JDBC, JavaFX, Spring Boot, JPA,
                            Hibernate,
                            MySQL, MongoDB e muito mais.</strong>
                    </p>
                    <p>Os tópicos de programação incluem:<br>
                        <br>Lógica de programação e algoritmos;
                        <br>Sintaxe da linguagem Java;
                        <br>Classes, atributos e métodos;
                        <br>Construtores, sobrecarga, encapsulamento;
                        <br>Estruturas de dados: arrays e coleções;
                        <br>Enumerações, composição;
                        <br>Herança, polimorfismo, interfaces;
                        <br>Tratamento de exceções;
                        <br>Generics;
                        <br>Programação funcional e expressões lambda, Stream API;
                        <br>Manipulação de arquivos.
                        <br><strong>Principais ferramentas e frameworks para se trabalhar com Java
                            profissionalmente no mercado, tais como:</strong>
                        <br>JDBC para acesso a dados baseado em SQL;
                        <br>JavaFX para interface gráfica;
                        <br>Git / Github para versionamento;
                        <br>Spring Boot - principal framework Java para desenvolvimento comercial em Java;
                        <br>JPA / Hibernate para acesso a dados com mapeamento objeto-relacional (ORM);
                        <br>Maven para gerenciamento de dependências de projeto;
                        <br>Spring Data JPA - framework para acesso a dados ORM;
                        <br>Spring Data MongoDB - framework para acesso a dados NoSQL ao banco MongoDB.
                    </p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="42"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning" style="width: 42%; color: rgb(0, 0, 0);">42%</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Java Spring Boot -->
        <div class="cursos">
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Java e Spring Boot</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Em andamento:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h3>Udemy</h3>
                    <p><strong>Java e Spring Boot</strong></p>
                    <p>
                        <strong>Professor:</strong> Nelio Alves
                        <br>Horas: 8,5
                    </p>
                    <p>
                        <strong>Java 11 e Spring Boot 2.3.4! Aprenda Feign, Ribbon, Hystrix, OAuth, JWT, Eureka, API
                            Gateway
                            Zuul, e muito mais.</strong>
                    </p>
                    <p>
                        <strong>Os conteúdos do curso incluem:</strong>
                        <br>Feign para requisições de API entre microsserviços;
                        <br>Ribbon para balanceamento de carga;
                        <br>Servidor Eureka para registro dos microsserviços;
                        <br>API Gateway Zuul para roteamento e autorização;
                        <br>Hystrix para tolerância a falhas;
                        <br>OAuth e JWT para autenticação e autorização;
                        <br>Servidor de configuração centralizada com dados em repositório Git;
                        <br>Geração de containers Docker para os microsserviços e bases de dados.
                    </p>
                </div>
            </div>
        </div>

        <!-- C# -->
        <div class="cursos">
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling9" aria-controls="offcanvasScrolling9">C# POO</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling9" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Em andamento:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h3>Udemy</h3>
                    <p><strong>C# POO</strong></p>
                    <p>
                        <strong>Professor:</strong> Nelio Alves
                        <br>Horas: 38
                    </p>
                    <p>
                        <strong>Curso mais didático e completo de C# e OO: composição, herança, coleções, arquivos,
                            LINQ, lambda, delegates e muito mais.</strong>
                    </p>
                    <p>
                        <strong>O que você aprenderá</strong>
                        <br>Dominar Programação Orientada a Objetos e linguagem C#;
                        <br>Criar soluções flexíveis, extensíveis e testáveis;
                        <br>Adquirir a base sólida teórica e prática para ser um desenvolvedor C# de sucesso;
                        <br>Aplicar o conhecimento de orientação a objetos na construção de soluções para problemas
                        reais;
                        <br>Compreender diagramas de classe UML, tanto de entidades quanto de serviços.
                    </p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="18"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning" style="width: 18%; color: rgb(0, 0, 0);">18%</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modelagem de Dados UML -->
        <div class="cursos">
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling3" aria-controls="offcanvasScrolling3">Modelagem de Dados
                UML</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling3" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Em andamento:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h3>Udemy</h3>
                    <p><strong>Modelagem de Dados UML</strong></p>
                    <p>
                        <strong>Professor:</strong> Nelio Alves
                        <br>Horas: 13
                    </p>
                    <p>
                        <strong>Curso completo de modelagem conceitual com UML. Teoria e prática! Bônus: projeto Java,
                            Spring Boot e Hibernate/JPA.</strong>
                    </p>
                    <p>
                        <strong>O que você aprenderá:</strong>
                        <br>Ao final do curso o aluno será capaz de modelar os dados de um sistema usando UML como
                        ferramenta.
                    </p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning" style="width: 11%; color: rgb(0, 0, 0);">11%</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Banco de Dados e SQL -->
        <div class="cursos">
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling4" aria-controls="offcanvasScrolling4">Banco de Dados e SQL</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling4" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Em andamento:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h3>Udemy</h3>
                    <p><strong>Banco de Dados e SQL</strong></p>
                    <p>
                        <strong>Professor:</strong> Felipe Mafra
                        <br>Horas: 58,5
                    </p>
                    <p>
                        <strong>Business Intelligence, SQL Server, MySQL, Oracle, T-SQL e PLSQL! Tudo aqui no curso de
                            bancos de dados relacionais!</strong>
                    </p>
                    <p>
                        <strong>O que você aprenderá:</strong>
                        <br>Entender a diferença entre um Administrador de Dados e um DBA;
                        <br>Criar bancos de dados consistentes do ponto de infraestrutura e modelagem;
                        <br>Instalar o Banco de Dados MySql;
                        <br>Executar a linguagem SQL - Structured Query Language, ou Linguagem de Consulta Estruturada
                        em QUALQUER banco de dados;
                        <br>Entender todo o ambiente trasacional e optar por continuar seus estudos em ambientes
                        analíticos de Business Intelligence;
                        <br>Instalar o Banco de Dados Oracle;
                        <br>Instalar o Banco de Dados SQL Server;
                        <br>Modelar a base de dados para qualquer sistema transacional;
                        <br>Programar em Banco de Dados;
                        <br>Realizar Backups e Restores dos seus Bancos de Dados;
                        <br>Aplicar Constraints de qualquer natureza em suas tabelas;
                        <br>Aplicar as Formas Normais;
                        <br>Criar Triggers, Procedures, Functions e Views;
                        <br>Escolher as funções nativas de qualquer banco de dados, de acordo com a sua necessidade;
                        <br>Utilizar o Dicionário de Dados;
                        <br>Estar seguro na disciplina Banco de Dados;
                        <br>Realizar downloads de softwares relacionados a banco de dados;
                        <br>Utilizar softwares de modelagem;
                        <br>Aplicar seguramente os relacionamentos 1 x 1 , 1 x N, N x N, Generalização e
                        Autorelacionamento, entendendo o porquê de cada um.
                    </p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="42"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning" style="width: 13%; color: rgb(0, 0, 0);">13%</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- UX -->
        <div class="cursos">
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling5" aria-controls="offcanvasScrolling5">UX</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling5" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Em andamento:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h3>Google e coursera</h3>
                    <p><strong>UX</strong></p>
                    <p>
                        <strong>Google UX Design Community</strong>
                    </p>
                    <p>
                        <strong>Objetivos de aprendizagem:</strong>
                        <br>Identificar e comparar as disciplinas dentro da UX;
                        <br>Identificar os fatores que contribuem para um excelente design de experiência do usuário;
                        <br>Analise as responsabilidades comuns do trabalho de designers de UX iniciantes;
                        <br>Analise as equipes com as quais os designers de UX costumam trabalhar;
                        <br>Explicar como os trabalhos de designer de UX são influenciados pelo tamanho da empresa e
                        pelo setor;
                        <br>Explorar as oportunidades de emprego disponíveis após a conclusão deste programa;
                        <br>Definir o campo da UX e explicar sua importância para os consumidores e as empresas.
                    </p>
                </div>
            </div>
        </div>

        <!-- Power BI -->
        <div class="cursos">
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling10" aria-controls="offcanvasScrolling10">Power BI</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling10" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Em andamento:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h3>Udemy</h3>
                    <p><strong>Power BI</strong></p>
                    <p>
                        <strong>Professor:</strong> André Rosa
                        <br>Horas: 19,5
                    </p>
                    <p>
                        <strong>O Curso completo de Power BI+DAX | Aprenda a criar dashboards interativos, gerar
                            insights e publicar no PowerBI Service.</strong>
                    </p>
                    <p>
                        <strong>Habilidades Desenvolvidas neste curso:</strong>
                        <br>Preparar os dados;
                        <br>Modelar os dados;
                        <br> Visualizar os dados;
                        <br>Analisar os dados;
                        <br>Implantar e manter resultados;
                        <br>Conectar-se, importar e transformar/modelar os dados de uma série de fontes;
                        <br>Definir regras de negócio e KPIs;
                        <br>Explorar dados com a poderosa ferramentas de visualização o"Power BI";
                        <br>Criar relatórios impressionantes com Power BI;
                        <br>Compartilhar/Publicar dashboards com suas equipes e seus parceiros de negócios e publicá-los
                        na Web;
                        <br>Etc.
                    </p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="42"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning" style="width: 1%; color: rgb(0, 0, 0);">1%</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Arquitetura de Redes -->
        <div class="cursos">
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling6" aria-controls="offcanvasScrolling6">Arquitetura de Redes</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling6" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Em andamento:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h3>Udemy</h3>
                    <p><strong>Arquitetura de Redes</strong></p>
                    <p>
                        <strong>Professor:</strong> Gabriel Torres
                        <br>Horas: 25
                    </p>
                    <p>
                        <strong>Curso completo de Arquitetura de Redes, onde você aprenderá os fundamentos sobre
                            funcionamento de redes de computadores.</strong>
                    </p>
                    <p>
                        <strong>O que você aprenderá</strong>
                        <br>Princípios de funcionamento de redes;
                        <br>Números binários;
                        <br>Transmissão, codificação e modulação de dados;
                        <br>Protocolos de rede, o modelo OSI e a pilha TCP/IP;
                        <br>Topologias de redes, como anel, linear, estrela, sem fio e híbrida;
                        <br>Cabos de rede, como coaxial, par trançado, fibra óptica e cabeamento estruturado;
                        <br>Equipamentos de redes, como hubs, switches, roteadores e balanceadores de carga;
                        <br>Redes Wi-Fi;
                        <br>Redes de telefonia celular;
                        <br>Virtualização;
                        <br>Segurança de redes;
                        <br>Análise de questões de concursos públicos;
                        <br>E muito mais!
                    </p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="42"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning" style="width: 4%; color: rgb(0, 0, 0);">4%</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Git e GitHub -->
        <div class="cursos">
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling11" aria-controls="offcanvasScrolling11">Git e GitHub</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling11" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Em andamento:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h3>Udemy</h3>
                    <p><strong>Git e GitHub</strong></p>
                    <p>
                        <strong>Professor:</strong> Willian Justen de Vasconcellos
                        <br>Horas: 2
                    </p>
                    <p>
                        <strong>Tudo que você precisa para começar a versionar seus arquivos e contribuir com a
                            comunidade opensource.</strong>
                    </p>
                    <p>
                        <strong>O que você aprenderá</strong>
                        <br>Saber a história do Git;
                        <br>Como configurar o Git e seus comandos básicos;
                        <br>Como trabalhar com diferentes branches num projeto;
                        <br>Como trabalhar com repositórios remotos no Github.
                    </p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="42"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning" style="width: 30%; color: rgb(0, 0, 0);">30%</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Inglês Extremo -->
        <div class="cursos">
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling7" aria-controls="offcanvasScrolling7">Inglês Extremo</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling7" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Em andamento:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h3>Udemy</h3>
                    <p>
                        <strong>Professor:</strong> Paulo Botelho
                        <br>Horas: 17,5
                    </p>
                    <p>
                        <strong>Inglês Extremo</strong>
                    </p>
                    <p>
                        <strong>O que você aprenderá</strong>
                        <br>Tudo que você levaria anos para aprender em uma escola tradicional de Inglês;
                        <br>Aprenda centenas de frases do dia a dia e como formá-las;
                        <br>Todas as ferramentas para você "pensar" em Inglês;
                        <br>Não dependa nunca mais de Traduções evitando erros básicos;
                        <br>Vocabulário extenso com milhares de palavras;
                        <br>Ferramentas de memorização e repetição;
                        <br>Plantão de dúvidas rápido e eficiente.
                    </p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="42"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning" style="width: 23%; color: rgb(0, 0, 0);">23%</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pronúncia da Língua Japonesa -->
        <div class="cursos">
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling8" aria-controls="offcanvasScrolling8">Pronúncia da Língua
                Japonesa</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling8" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Em andamento:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h3>Udemy</h3>
                    <p>
                        <strong>Professor:</strong> Michinobu Miyake
                        <br>Minutos: 36
                    </p>
                    <p>
                        <strong>Pronúncia da Língua Japonesa</strong>
                    </p>
                    <p>
                        <strong>O que você aprenderá</strong>
                        <br>Você será capaz de identificar os sons da língua japonesa;
                        <br>Você será capaz de pronunciar os sons da língua japonesa;
                        <br>Você será capaz de ler a língua japonesa em romaji;
                        <br>Você será capaz de redigir a língua japonesa em romaji.
                    </p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="42"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning" style="width: 45%; color: rgb(0, 0, 0);">45%</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Desenvolvimento Pessoal -->
        <div class="cursos">
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling12" aria-controls="offcanvasScrolling12">Desenvolvimento
                Pessoal</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling12" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Em andamento:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h3>Udemy</h3>
                    <p><strong>Desenvolvimento Pessoal</strong></p>
                    <p>
                        <strong>Professor:</strong> Bruno Caetano
                        <br>Horas: 12,5
                    </p>
                    <p>
                        <strong>A sua Mente é seu maior patrimônio!</strong>
                    </p>
                    <p>
                        <strong>O que você aprenderá</strong>
                        <br>Terão mais autocontrole e Equilíbrio Emocional. Uma maior clareza e consciência do
                        funcionamento da Mente e conhecimento de "armadilhas mentais".
                    </p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="42"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-warning" style="width: 1%; color: rgb(0, 0, 0);">1%</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <h2>CONCLUÍDOS:</h2>
    <div class="container">
        <div class="cursos">
            <button class="btn btn-success" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling13" aria-controls="offcanvasScrolling13">C# Lógica de
                Programação</button>

            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling13" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Concluído:</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <h3>Udemy</h3>
                    <p><strong>C# Lógica de Programação</strong></p>
                    <p>
                        <strong>Professor:</strong> Nelio Alves
                        <br>Horas: 7,5
                    </p>
                    <p>
                        <strong>Curso equivalente à disciplina de Lógica de Programação da faculdade. Vamos usar C# como
                            linguagem e o Visual Studio.</strong>
                    </p>
                    <p>
                        <strong>O que você aprenderá:</strong>
                        <br>Compreender e aplicar os fundamentos básicos de programação: estrutura sequencial, estrutura
                        condicional, estruturas repetitivas, vetores e matrizes;
                        <br>Aplicar os conhecimentos adquiridos para solução de problemas básicos usando a linguagem C#;
                        <br>Utilizar o Microsoft Visual Studio para editar, depurar e executar programas.
                    </p>
                    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="42"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success" style="width: 100%">100%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>