.meus-cursos {
    margin: 30px;
}

h1,
h2,
h3 {
    font-family: 'Times New Roman', Times, serif;
}

h1, 
.sobre-cursos {
    text-align: center;
}

h2 {
    font-size: 24px;
    text-align: start;
    margin-top: 40px;
    margin-bottom: 20px;
}

.h2-em-andamentos {
    color: rgb(6, 97, 171);
}

.meus-cursos .container {
    flex-wrap: wrap;
}