@font-face {
    font-family: 'FonteGoogle';
    src: url('/fonts/Product Sans Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FonteGoogle';
    src: url('/fonts/Product Sans Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'FonteGoogle';
    src: url('/fonts/Product Sans Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.meus-cursos {
    margin: 30px;
}

h1,
h2,
h3 {
    font-family: 'Times New Roman', Times, serif;
}

h1,
.sobre-cursos,
.button-linkedin-cursos {
    text-align: center;
}

h2 {
    font-size: 34px;
    text-align: start;
    margin-top: 40px;
    margin-bottom: 20px;
}

.concluidos-h2 {
    padding: 15px;
}

.meus-cursos .container,
.cursos-concluidos .container {
    flex-wrap: wrap;
}

.card {
    margin-top: 20px;
}

.fonte-google {
    font-family: 'FonteGoogle', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.cursos-concluidos {
    margin-bottom: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding-bottom: 20px;
}

.button-linkedin-cursos {
    padding-top: 70px;
}

.button-linkedin-cursos button {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}

.button-linkedin-cursos button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.button-linkedin-cursos button a:hover {
    color: rgb(255, 255, 255);
}

.button-linkedin-cursos button:hover {
    transition: 0.2s;
    background-color: rgb(19, 19, 238);
    border-color: rgb(19, 19, 238);
}

.img-offcanvas {
    width: 100%; /* A imagem ocupará toda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 100%; /* Garante que não ultrapasse o tamanho do contêiner */
    display: block; /* Remove espaços extras causados pelo comportamento inline padrão */
    object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço, se necessário */
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 10px;
    flex-wrap: nowrap;
}

/* Cores */

.h2-em-andamentos {
    color: rgb(6, 97, 171);
}

.h2-concluidos {
    color: rgb(11, 163, 11);
}

h3.udemy {
    color: rgb(125, 6, 244);
}

.g-azul {
    color: rgb(66, 133, 244);
}

.o-vermelho,
.e-vermelho {
    color: rgb(219, 68, 55);
}

.o-amarelo {
    color: rgb(244, 180, 0);
}

.l-verde {
    color: rgb(15, 157, 88);
}

.coursera {
    color: rgb(31, 130, 236);
}

.cursos-concluidos .btn.btn-dark:hover {
    transition: 0.3s;
    background-color: rgb(25, 135, 84);
}

/* Media query para telas menores */
@media (max-width: 740px) {
    .container {
        flex-direction: column; /* Alinha os itens em uma coluna */
        padding: 10px; /* Reduz o espaçamento interno */
        gap: 5px; /* Reduz o espaçamento entre itens */
        flex-wrap: wrap;
    }
}