<section class="meus-cursos">
    <h1>CURSOS!</h1>
    <p>Um resumo sobre os cursos que já concluí, revisando e em andamento.</p>
    <h2>EM ANDAMENTO:</h2>
    <div class="container">
        <!-- Java -->
        <div class="card" style="width: 18rem;">
            <img src="/udemy.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    <strong>Java POO</strong>
                    <br><strong>Professor:</strong> Nelio Alves
                    <br>Horas: 54,5
                </p>
                <button><a href="">Mais informações</a></button>
            </div>
        </div>
        <!-- Java Spring Boot -->
        <div class="card" style="width: 18rem;">
            <img src="/udemy.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    <strong>Java e Spring Boot</strong>
                    <br><strong>Professor:</strong> Nelio Alves
                    <br>Horas: 8,5
                </p>
                <button><a href="">Mais informações</a></button>
            </div>
        </div>
        <!-- Java Spring Boot -->
        <div class="card" style="width: 18rem;">
            <img src="/udemy.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">

                </p>
                <button><a href="">Mais informações</a></button>
            </div>
        </div>
    </div>
</section>