<main>
    <section class="outrosprojetos">
        <h1>Outros Projetos</h1>
        <p>Atualização em breve!</p>

        <div class="spinner-grow text-warning" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </section>

    <section class="outrosprojetos-section">
        <div>
            <!--<h2>Projetos</h2>-->
            <p>Aqui estão outros projetos em desenvolvimento de software e scripts:</p>
        </div>

        <div class="container">
            <!-- 01 Script NPC Ragnarok -->
            <div class="card" style="width: 18rem;">
                <img src="projetos/npc-script-ragnarok01.jpeg" class="card-img-top"
                    alt="Imagem representando o meu sistema de simulação de emprestimo consignado">
                <div class="card-body">
                    <p class="card-text">
                        <strong>Script - Ragnarok Online RPG</strong>
                    </p>
                    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasScriptMMO" aria-controls="offcanvasScriptMMO">Mais
                        informações</button>
                </div>
            </div>
            <!-- 01 Script NPC Ragnarok -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasScriptMMO"
                aria-labelledby="offcanvasTitle">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasTitle">Script</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div><img class="img-offcanvas" src="projetos/npc-script-ragnarok02.jpeg"
                            alt="Imagem representando o meu sistema de simulação de emprestimo consignado"></div>
                    <br>
                    <h3>Meus NPCs para Ragnarok Online RPG MMO - Emulador rAthena</h3>
                    <p>
                        Alguns dos meus npc's para Ragnarok Online, um jogo de RPG MMO.<br>
                        <br>Suporte GM;
                        <br>Comandos VIP;
                        <br>Meu PVP;
                        <br>Teletransporte<br>
                        <br><span class="observacao">OBS:</span> Alguns desses já editei/melhorei no meu emulador, só
                        não adicionei a nova versão no GitHub.<br>
                        <br>Não adicionei todos, mas venha dar uma conferida nesses aqui!
                    </p>
                    <div class="link-github">
                        <button><a href="https://github.com/PBPaschoal/Meus-NPCs-Ragnarok-Online" target="_blank">Link
                                do Projeto no GitHub</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>