<main>
    <section class="primeira-section">
        <!-- Teste -->
        <div class="container">
            <div class="card" style="width: 18rem;">
                <a href="/ux">
                    <img src="ux.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Designer UX</p>
                    </div>
                </a>
            </div>
            <div class="card" style="width: 18rem;">
                <a href="/backend">
                    <img src="backend.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Programação Back-end</p>
                    </div>
                </a>
            </div>
            <div class="card" style="width: 18rem;">
                <a href="/frontend">
                    <img src="frontend.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Programação Front-end</p>
                    </div>
                </a>
            </div>
            <div class="card" style="width: 18rem;">
                <a href="/ti">
                    <img src="ti.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Técnico em Informática</p>
                    </div>
                </a>
            </div>
            <div class="card" style="width: 18rem;">
                <a href="/adm">
                    <img src="adm.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Administrativo</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</main>