<main>
    <section class="experiencia">
        <h1>Bruno Paschoal!</h1>
        <!--<p>Atualização em breve!</p>

        <div class="spinner-grow text-warning" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>-->
    </section>
    <section class="sobre-paulo-bruno-paschoal">
        <h5>Olá!</h5>
        <p>
            Sou Bruno Paschoal, apaixonado por tecnologia, programação e por criar soluções que realmente fazem a
            diferença.
        </p>
        <p>
            Sou formado em Análise e Desenvolvimento de Sistemas (Estácio – 2020) e tenho dedicado meu tempo livre ao
            estudo e desenvolvimento de projetos pessoais em <strong>Python</strong>, <strong>C#</strong> e <strong>Java</strong>, além de APIs,
            CRUDs, sistemas web, games retrô e
            sistemas educacionais. Meu foco principal é dominar C#, criando soluções robustas,
            escaláveis e bem estruturadas.
        </p>
        <p>
            Também estudo HTML, CSS, Angular, SQL, Git, UML, UX Design, redes e Power BI, sempre buscando
            evoluir como profissional fullstack. Além disso, estou aprendendo Inglês e Japonês, com o objetivo de expandir meus
            horizontes profissionais e culturais.
        </p>
        <p>
            Você pode conhecer melhor meus <strong>projetos</strong> e exercícios acessando meu GitHub, ou saber mais sobre minha
            formação e cursos pelo meu LinkedIn. 
            <!--<br>Meu objetivo é me especializar em <strong>Engenharia de Software</strong>, evoluindo
            como desenvolvedor completo e criando soluções que impactem positivamente o mundo.-->
        </p>
    </section>
</main>