<main>
    <section class="experiencia">
        <h1>Bruno Paschoal!</h1>
        <!--<p>Atualização em breve!</p>

        <div class="spinner-grow text-warning" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>-->
    </section>
    <section class="sobre-paulo-bruno-paschoal">
        <h5>Olá!</h5>
        <p>
            Meu nome é Bruno, e atualmente resido no Rio de Janeiro - RJ. Sou Técnico de Suporte Computacional Júnior em
            uma escola particular, onde atuo garantindo o bom funcionamento da rede, computadores, impressoras,
            projetores e outros equipamentos. Também realizo reparos técnicos, configuro sistemas de comunicação como
            ramais telefônicos e ofereço suporte tecnológico em eventos escolares, cuidando do áudio e da
            infraestrutura.
        </p>
        <p>
            Embora aprecie meu trabalho atual, minha verdadeira paixão está na programação. Estou focado em alcançar meu
            objetivo de me tornar um desenvolvedor de software. Sou formado em Análise e Desenvolvimento de Sistemas
            (2020) pela Universidade Estácio de Sá e tenho grande entusiasmo por linguagens como C# e Java, sendo esta
            última meu principal foco atualmente. Meu objetivo imediato é dominar Java e o framework Spring Boot para
            criar soluções robustas e escaláveis.
        </p>
        <p>
            Além de Java, estou expandindo meu conhecimento em outras áreas relevantes da tecnologia. Atualmente, estudo
            Angular, Python, SQL, UML, Git, UX Design, Arquitetura de Redes e Power BI. Acredito que essas competências
            me ajudarão a construir soluções completas, tanto no front-end quanto no back-end. Também estou aprendendo
            inglês e japonês, pois vejo as habilidades linguísticas como fundamentais para atuar no mercado global de
            tecnologia.
        </p>
        <p>
            Meu próximo grande passo será me especializar em Engenharia de Software, buscando entender profundamente os
            processos e boas práticas que tornam o desenvolvimento de sistemas eficiente e escalável. Com planejamento,
            organização e foco, estou determinado a me tornar um desenvolvedor completo e contribuir com soluções
            inovadoras que impactem positivamente as pessoas.
        </p>
    </section>
</main>