section.experiencia,
.sobre-paulo-bruno-paschoal .atualizacao p,
.sobre-paulo-bruno-paschoal .atualizacao {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

h1 {
    color: rgb(126, 2, 197);
}

p,
.sobre-paulo-bruno-paschoal .atualizacao p {
    color: rgb(255, 0, 0);
}

.sobre-paulo-bruno-paschoal p {
    color: rgb(0, 0, 0);
    text-align: justify;
}